@import '../../values/values';

.education {
	.container {
		border-bottom: 1px solid #e3e3e3;
	}
}




.education-centers-item {
	padding: 20px 0;

	span {
		opacity: 0.8;
		font-size: 16px;
		line-height: 1.56;
		font-family: "Roboto", sans-serif;
		font-weight: normal;
	}
	// .education-centers-item__title

	&__title {
		font-family: "Roboto", sans-serif;
	}

	// .education-centers-item__subtitle

	&__subtitle {
		padding-top: 5px;
		font-family: "Open Sans", sans-serif;
		font-weight: 400;
		opacity: 0.8;
	}

	// .education-centers-item__paragraph

	&__paragraph {
		padding-top: 10px;
		font-size: 16px;
		line-height: 1.56;
		font-family: "Roboto", sans-serif;
		font-style: italic;
		opacity: 0.8;
	}
}

